{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
        <h1 class="page-header">
            Scenarios
        </h1>
    </div>
    <div id="flashes" class="row"></div>
    <div class="row">
        <button type="button" class="btn btn-primary" onclick="edit(-1)" data-toggle="modal" data-backdrop="static"
            data-target="#modal">
            <i class="fa fa-plus"></i> New scenario</button>
    </div>
    &nbsp;
    <div id="loading">
        <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>
    <div id="emptyMessage" class="row" style="display:none;">
        <div class="alert alert-info">
            No scenarios created yet. Let's create one!
        </div>
    </div>
    <div class="row">
        <table id="scenarioTable" class="table" style="display:none;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Modified Date</th>
                    <th class="col-md-2 no-sort"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<!-- Scenario Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="dismiss()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="scenarioModalLabel">New Scenario</h4>
            </div>
            <div class="modal-body" id="modal_body">
                <div class="row" id="modal.flashes"></div>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Scenario name" autofocus>
                    <label for="name">Description:</label>
                    <input type="text" class="form-control" id="description" placeholder="Scenario description" autofocus>
                    <div class="row">
                    <div class="col-sm-8">
                    <label class="control-label" for="template">Email Templates:</label>
                    <select class="form-control" placeholder="Template Name" id="template" multiple/>
                    <option></option>
                    </select>
                    </div> </div>
                    <div class="row">
                    <div class="col-sm-8">
                    <label class="control-label" for="page">Landing Page:</label>
                    <select class="form-control" placeholder="Landing Page" id="page" />
                    <option></option>
                    </select>
                    </div> </div>
                    <label class="control-label" for="url">URL:
                        <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="Location of Gophish listener (must be reachable by targets!)"></i>
                    </label>
                    <input type="text" class="form-control" placeholder="http://192.168.1.1" id="url" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismiss()">Close</button>
                <button type="button" class="btn btn-primary" id="modalSubmit">Save Scenario</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="team_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="campaignModalLabel">Add Team</h4>
            </div>
            <div class="modal-body" id="modal_body">
                <div class="row" id="modal.flashes"></div>
                <div class="row">
                    <form id="teamTargetForm">
                            <div class="col-sm-4">
                            <label class="control-label" for="team">Add Team:</label>

                            <select class="form-control" placeholder="Team Name" id="team">
                            </select>
                            </div>
                            <div class="col-sm-8">
                            <button type="submit" class="btn btn-danger btn-lg" style="float: right;">
                                <i class="fa fa-plus"></i> Add</button>
                            </div>
                            <option></option>
                    </form>
                </div>
                <br />
                <table id="teamTargetsTable" class="table table-hover table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Team Name</th>
                            <th>Team Id</th>
                            <th class="no-sort"></th>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismiss()">Close</button>
                <button type="button" class="btn btn-primary" id="modalSubmitTeam">Save changes</button>
            </div>
        </div>
    </div>
</div> 
{{end}} {{define "scripts"}}
<script src="/js/dist/app/scenarios.min.js"></script>
<script src="/js/dist/app/utils.min.js"></script>
{{end}}