{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
        <h1 class="page-header">
            Teams
        </h1>
    </div>
    <div id="flashes" class="row"></div>
    <div class="row">
        <button type="button" class="btn btn-primary" onclick="edit(-1)" data-toggle="modal" data-backdrop="static"
            data-target="#team_modal">
            <i class="fa fa-plus"></i> New team</button>
    </div>
    &nbsp;
    <div id="loading">
        <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>
    <div id="emptyMessage" class="row" style="display:none;">
        <div class="alert alert-info">
            No teams created yet. Let's create one!
        </div>
    </div>
    <div class="row">
        <table id="teamTable" class="table" style="display:none;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th># of Members</th>
                    <th class="col-md-2 no-sort"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<!-- TeamTable --> <!-- Modal -->
<div class="modal fade" id="team_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="campaignModalLabel">Add Team</h4>
            </div>
            <div class="modal-body" id="modal_body">
                <label class="control-label" for="name">Name:</label>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="team.name" placeholder="Team name" id="name"
                        autofocus />
                </div>
                <label class="control-label" for="name">Description:</label>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="team.description" placeholder="Team Description" id="description"
                        autofocus />
                </div>
                <div class="row" id="modal.flashes"></div>
                <div class="row">
                    <form id="userForm">
                            <div class="col-sm-4">
                            <label class="control-label" for="user">Add User:</label>

                            <select class="form-control" placeholder="User Name" id="user">
                            </select>
                            </div>
                            <div class="col-sm-8">
                            <button type="submit" class="btn btn-danger btn-lg" style="float: right; margin-top: 35px;">
                                <i class="fa fa-plus"></i> Add</button>
                            </div>
                            <option></option>
                    </form>
                </div>
                <br />
                <table id="usersTable" class="table table-hover table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Team Name</th>
                            <th>Team Id</th>
                            <th>Team Role</th>
                            <th class="no-sort"></th>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismiss()">Close</button>
                <button type="button" class="btn btn-primary" id="modalSubmitTeam">Save changes</button>
            </div>
        </div>
    </div>
</div>    
{{end}} {{define "scripts"}}
<script src="/js/dist/app/teams.min.js"></script>
<script src="/js/dist/app/utils.min.js"></script>
{{end}}